﻿<div class="row">

    <div class="col-md-4">
        <select class="products form-control"></select>
        
        <br/>
        
        <input type="text" class="money form-control value=""/>
        
        <br/>
        
        <input type="button" class="buy form-control" value="Купить" />
        
        <br/>
        
        <p class="msg"></p>
    </div>
</div>
